
SLIME/.idea/inspectionProfiles/Project_Default.xml
SLIME/.idea/misc.xml
SLIME/.idea/modules.xml
SLIME/.idea/SLIME.iml
SLIME/.idea/vcs.xml
SLIME/bin/hostfile
SLIME/bin/slime
SLIME/bin/slime.sh
SLIME/cmake-build-release/cmake_install.cmake
SLIME/cmake-build-release/CMakeCache.txt
SLIME/cmake-build-release/CMakeFiles/3.16.5/CMakeCCompiler.cmake
SLIME/cmake-build-release/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
SLIME/cmake-build-release/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
SLIME/cmake-build-release/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
SLIME/cmake-build-release/CMakeFiles/3.16.5/CMakeSystem.cmake
SLIME/cmake-build-release/CMakeFiles/3.16.5/CompilerIdC/a.out
SLIME/cmake-build-release/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
SLIME/cmake-build-release/CMakeFiles/3.16.5/CompilerIdCXX/a.out
SLIME/cmake-build-release/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
SLIME/cmake-build-release/CMakeFiles/clion-environment.txt
SLIME/cmake-build-release/CMakeFiles/clion-log.txt
SLIME/cmake-build-release/CMakeFiles/cmake.check_cache
SLIME/cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
SLIME/cmake-build-release/CMakeFiles/CMakeOutput.log
SLIME/cmake-build-release/CMakeFiles/FindMPI/test_mpi.cpp
SLIME/cmake-build-release/CMakeFiles/FindMPI/test_mpi_C.bin
SLIME/cmake-build-release/CMakeFiles/FindMPI/test_mpi_CXX.bin
SLIME/cmake-build-release/CMakeFiles/Makefile.cmake
SLIME/cmake-build-release/CMakeFiles/Makefile2
SLIME/cmake-build-release/CMakeFiles/progress.marks
SLIME/cmake-build-release/CMakeFiles/slime.dir/build.make
SLIME/cmake-build-release/CMakeFiles/slime.dir/cmake_clean.cmake
SLIME/cmake-build-release/CMakeFiles/slime.dir/depend.make
SLIME/cmake-build-release/CMakeFiles/slime.dir/DependInfo.cmake
SLIME/cmake-build-release/CMakeFiles/slime.dir/flags.make
SLIME/cmake-build-release/CMakeFiles/slime.dir/link.txt
SLIME/cmake-build-release/CMakeFiles/slime.dir/progress.make
SLIME/cmake-build-release/CMakeFiles/TargetDirectories.txt
SLIME/cmake-build-release/Makefile
SLIME/cmake-build-release/SLIME.cbp
.DS_Store
